<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
This is the home page for the
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>
<%= render(Primer::CounterComponent.new(count: 25)) %>
<%= render(Primer::Beta::Flash.new) { "This is a flash message!" } %>